@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* utilities css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f3f2ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #fff;
  padding: 30px;
  width: 870px;
  margin-top: 26px;
  border-radius: 5px;
}
.section-title {
  color: #562eff;
  font-weight: 500;
  line-height: 36px;
}
hr {
  border: 1px solid #d1d1d1;
}
/* header section styles  */
header {
  min-height: 10vh;
  margin: 0 auto;
  background: #562eff;
  padding: 1rem 0;
}
nav {
  width: 870px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  margin-left: 20px;
  color: #fff;
}
nav img {
  width: 51px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 36px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* top section css  */
.top-section {
}
.top-player {
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin: 30px 0;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 16px;
}
/* top blog section  */

.top-blog {
  margin: 16px 0;
}
.blogs {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.blog {
  display: flex;
}
.blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blog-title {
  font-weight: 500;
  font-size: 20px;
}
.author {
  color: #9f9f9f;
}
.author a {
  text-decoration: none;
  color: #562eff;
}
/* courses section  */
.courses {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
    box-shadow:0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  padding: 5px;
}
.course-thumbnail img {
  width: 224px;
  height: 104px;
}
.course-details {
}
.course-title {
  color: #1e1e1e;
  font-size: 20px;
}
.course-author {
  font-size: 14px;
  color: #ed6b4f;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.course-info {
  display: flex;
  align-items: center;
}
.course-info p {
  color: #a2a2a2;
  font-size: 14px;
  margin-left: 10px;
}
.course-duration {
  background: #ffe4e8;
  width: 94px;
  height: 30px;
  border-radius: 14px;
  color: #ff4a60;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

/* css responsive styles  */
/* Tablet styles Css  */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .course {
    margin: 2rem 0;
  }
}

/* Mobile styles css  */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-player .section-title {
    text-align: center;
  }
  .player,
  .blog {
    flex-direction: column;
  }
  .course {
    margin: 2rem 0;
  }
}
